{% extends 'base.html' %}


{% block content %}

  <div class='container'>
    <h1 class='text-center festive'>{{ scavengerhunt.title }}</h1>

    <p class='progress-bar__label'>{{ scavengerhunt.percent_completion|floatformat:0 }}% complete</p>
    <div class='progress-bar'>
      <span style='width: {{ scavengerhunt.percent_completion }}%'></span>
    </div>

    <div class='puzzles'>

      {% for puzzle in puzzles %}

        <div class='puzzle{% if puzzle.completed %}--complete{% endif %}'>
          <h3 class='puzzle__title'><a class='puzzle{% if puzzle.completed %}--complete{% endif %}__link' href='{{ puzzle.get_absolute_url }}'>{{ puzzle.title }}</a></h3>
          <div class='puzzle{% if puzzle.completed %}--complete{% endif %}__title-underline'></div>
          <p class='puzzle__description'>{{ puzzle.text|truncatewords:25 }}</p>
        </div>

      {% endfor %}

    </div>

    {% if scavengerhunt.completed %}

      <div class='container--small'>
        <h2 class='text-center'>Final Puzzle</h2>

        <div><pre>{{ scavengerhunt.final_text }}</pre></div>
      </div>

    {% endif %}

  </div>

{% endblock %}
