.btn {
  background: transparent;
  border: $btn-border;
  color: $color-text;
  display: inline-block;
  font-size: $btn-size;
  padding: $btn-padding;
  text-decoration: none;

  &:hover {
    background: $color-text;
    color: $color-gray;
  }

  @include media($break-tablet-up) {
    font-size: $btn-size-tablet;
  }

  @include modifier('large') {
    @extend .btn;

    font-size: 150%;
  }
  
  @include modifier('large-block') {
    @extend .btn;

    display: block;
    font-size: 200%;
  }
}

