.form {
  @include element('control') {
    margin: $form-control-margin;

    input {
      background: transparent;
      border: 0;
      border-bottom: $form-control-border;
      color: $color-text;
      margin: $form-input-margin;
      padding: $form-input-padding;
      width: 100%;

      &:focus {
        border: $form-control-border;
        outline: 0;
      }
    }

    label {
      display: block;
    }
  }

  @include element('error') {
    background: $form-error-background;
    color: $form-error-color;
    margin: $form-error-margin;
    padding: $form-error-padding;
  }
}
