.index {
  flex-grow: 1;

  @include element('login-btn') {
    display: none;
  }

  @include element('login-wrapper') {
    margin-top: $index-login-margin-top;

    @include media($break-tablet-up) {
      margin-top: $index-login-margin-top-tablet;
    }
  }

  @include element('subtitle') {
    text-align: center;
    text-transform: uppercase;
    visibility: hidden;
  }

  @include element('title') {
    $base-size: map_get($font-size-headings, 1);

    font-family: $index-title-font-family;
    font-size: $base-size;
    margin: $index-title-margin;
    text-align: center;
    visibility: hidden;

    @include media($break-tablet-up) {
      font-size: $base-size * $index-title-font-size-multiplier-tablet;
      margin: $index-title-margin-tablet;
    }

    @include media($break-desktop-up) {
      font-size: $base-size * $index-title-font-size-multiplier-desktop;
    }
  }
}
