.index {
  flex-grow: 1;

  @include element('subtitle') {
    text-align: center;
    text-transform: uppercase;
  }

  @include element('title') {
    $base-size: map_get($font-size-headings, 1);

    font-family: $index-title-font-family;
    font-size: $base-size;
    margin: $index-title-margin;
    text-align: center;

    @include media($break-tablet-up) {
      font-size: $base-size * $index-title-font-size-mutliplier-tablet;
      margin: $index-title-margin-tablet;
    }

    @include media($break-desktop-up) {
      font-size: $base-size * $index-title-font-size-mutliplier-desktop;
    }
  }
}
