a,
a:visited {
  color: darken($color-text, 20%);
}

body {
  color: $font-color;
  font-family: $font-family-base;
}

@for $i from 1 through 6 {
  h#{$i} {
    $base-size: map_get($font-size-headings, $i);

    font-size: $base-size;
    margin: $base-size * $heading-margin-multiplier 0;

    @include media($break-tablet-up) {
      font-size: $base-size * $font-size-multiplier-tablet;
    }

    @include media($break-desktop-up) {
      font-size: $base-size * $font-size-multiplier-desktop;
    }
  }
}

strong {
  font-weight: bold;
}
