// General
$body-bg-end: #555 100%;
$body-bg-start: #222 0%;

$color-text: #d9d9d9;

$break-tablet-up: new-breakpoint(min-width 481px);
$break-desktop-up: new-breakpoint(min-width 941px);


// Index

$index-title-font-family: 'Mountains of Christmas', cursive;
$index-title-font-size-mutliplier-desktop: 2;
$index-title-font-size-mutliplier-tablet: 1.5;
$index-title-margin: 1em 0 .5em 0;
$index-title-margin-tablet: 2em 0 1em 0;


// Typography

$font-color: $color-text;
$font-family-base: sans-serif;
$font-size-headings: (
  1: 3rem,
  2: 2rem,
  3: 1.5rem,
  4: 1rem,
  5: .75rem,
  6: .66rem
);
$font-size-multiplier-desktop: 1.5;
$font-size-multiplier-tablet: 1.25;
