// General
$body-bg-end: #555 100%;
$body-bg-start: #222 0%;

$break-tablet-up: new-breakpoint(min-width 481px);
$break-desktop-up: new-breakpoint(min-width 941px);

$color-gray: #222;
$color-success: #95C89C;
$color-text: #d9d9d9;

$container-margin: .5em;
$container-width: 50em + $container-margin * 2;
$container-width-small: 25em + $container-margin * 2;

$festive-font-family: 'Mountains of Christmas', cursive;


// Buttons

$btn-border: 1px solid $color-text;
$btn-padding: .5em;
$btn-size: 1em;
$btn-size-tablet: 1.25em;


// Forms

$form-control-border: 1px solid $color-text;
$form-control-margin: 0 0 1em 0;
$form-error-background: rgb(255, 143, 143);
$form-error-color: $color-gray;
$form-error-margin: 1em 0;
$form-error-padding: .25em;
$form-input-margin: .25em 0;
$form-input-padding: .5em;


// Index

$index-login-margin-top: 4em;
$index-login-margin-top-tablet: 6em;
$index-title-font-family: $festive-font-family;
$index-title-font-size-multiplier-desktop: 2;
$index-title-font-size-multiplier-tablet: 1.5;
$index-title-margin: 1em 0 .5em 0;
$index-title-margin-tablet: 2em 0 1em 0;


// Progress Bars

$progress-bar-bg: #555;
$progress-bar-border-radius: 3px;
$progress-bar-color: $color-success;
$progress-bar-height: 20px;
$progress-bar-label-margin: 0 0 .25em 0;
$progress-bar-margin: 0 0 2em 0;


// Puzzles

$puzzle-border: 1px solid $color-text; //rgb(199, 199, 199);
$puzzle-border-radius: 3px;
$puzzle-bg-complete: $color-success;
$puzzle-color: $color-text;
$puzzle-color-complete: $color-gray;
$puzzle-margin: 1em;
$puzzle-max-width: 300px;
$puzzle-padding: .5em;
$puzzle-title-underline: 1px solid darken($color-text, 20%);
$puzzle-title-underline-complete: 1px solid lighten($color-gray, 20%);
$puzzle-title-underline-margin: 0 2em .75rem 2em;
$puzzles-margin: 0 0 2em 0;


// Typography

$font-color: $color-text;
$font-family-base: sans-serif;
$font-size-headings: (
  1: 3rem,
  2: 2rem,
  3: 1.5rem,
  4: 1rem,
  5: .75rem,
  6: .66rem
);
$font-size-multiplier-desktop: 1.5;
$font-size-multiplier-tablet: 1.25;
$heading-margin-multiplier: .5;       // heading margin as a multiplier of its font-size
